<!DOCTYPE html>
<html>

<body>
    {{> header}}
    
    <p>This is the projects page.</p>
    <p>Here we will list our projects for easy access.</p>
    <li></li>
    
    {{> footer}}
</body>

</html>